.row {
    justify-content: center;
    margin: 10px;
}

.col-lg-4.col-md-4.col-sm-4 {
    margin: 20px 0;
}

.col-lg.col-md.col-sm {
    margin: 20px 0;
}


#timer {
    float: right;
}

#timerP {
    float: right;
}

#option1 {
    float: right;
}

.no-display {
    display: none;
}

.display {
    display: block;
}