.row {
    justify-content: center;
    margin: 10px;
}

.col-lg-4.col-md-4.col-sm-4 {
    margin: 20px 0;
}

.col-lg.col-md.col-sm {
    margin: 20px 0;
}

button, #submit {
    border-radius: 5px;
    color: lightgray;
    background-color: indigo;
    margin: 3px 0;
}

#scores {
    border: none;
    background-color: white;
    color: indigo;
    font-weight: bold;
}

#timer {
    float: right;
}

#timer-text {
    float: right;
}

#option1 {
    float: right;
}

#light-italics {
    font-style: italic;
    font-weight: lighter;
}
h1, h3, h4, h6 {
    text-align: center;
}
.no-display {
    display: none;
}

.display {
    display: block;
}

#final-scores {
    list-style-type: decimal;
    width: 50%;
    padding: 0;
}

.list-group-item {
    background-color: rgb(192, 155, 192);
    margin: 8px;
    font-size: 110%;
}

/* make responsive by using media query and incorporating icons 
(trophy for highscores & hourglass (with movement??) for the timer) */
