.row {
    justify-content: center;
    margin: 10px;
}

.col-lg-4.col-md-4.col-sm-4 {
    margin: 20px 0;
}

.col-lg.col-md.col-sm {
    margin: 20px 0;
}

button {
    border-radius: 5px;
    color: lightgray;
    background-color: indigo;
}

#scores {
    border: none;
    background-color: white;
    color: indigo;
    font-weight: bold;
}
#timer {
    float: right;
}

#timer-text {
    float: right;
}

#option1 {
    float: right;
}

.no-display {
    display: none;
}

.display {
    display: block;
}
